LOOP_TOKEN=token

### Нужны для тестов from
LOOP_SECOND_BOT_ID=id
LOOP_SECOND_BOT_TOKEN=token

LOOP_BOT_ID=botId
LOOP_URL=https://12345.loop.ru
LOOP_APP_URL=https://app.url
LOOP_WS_URL=wss://12345.loop.ru/api/v4/websocket

LOOP_TEST_USER_ID=userId
LOOP_TEST_USER_NAME=username
LOOP_TEST_USER_EMAIL=email@example.com